/* Google Font*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

/*Générale */

:root{
    --shadow:#252525;
    --orange: #ff7800;
    --orangejaune: #ffae00;
    --black: #000;
    --white: #fff;
}

*{
    margin: 0;
    font-family: Roboto;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    i{
        display: block;
    }

    a{
        text-decoration: none;
        color: var(--black);
    }
}

header h1{
    font-family: "Shrikhand";
    width: 100%;
    
}

/* Footer */

footer{
    background-color: #252525;
}

footer h2{
    font-family: "Shrikhand";
    color: white;
    padding: 15px;
}

footer ul{
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer ul > li > a{
    text-decoration: none;
    color: white;
    
    &:hover{
    transition: all 0.2s ease in ease-in-out;
    color: var(--orange);
    }
}

/* Main */

#section1{
    /* padding: 10px; */
    font-family: "Roboto";
    padding-bottom: 20px;

    div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* padding: 25px 15px; */
    
        article{
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: white;
            border-radius: 20px;
            margin: auto;
            width: 100%;

            h2{
                padding-left: 10px;
                font-size: 20px;
            }
            
            form{
                border-top: 1px solid var(--orange);

                label{
                    display: flex;
                    gap: 50px;
                    height: 18px;
                    margin: 10px;
                        
                    img{
                        width: 100%;
                        /* border-radius: 20px 20px 0px 0px; */
                                
                        a{
                            text-decoration: none;
                            color: black;
                            padding-bottom: 20px;
                        }
                    }     
                }       
            }           
        }
        
        #article2{
            border-top: 1px solid var(--orange);
            border-radius: 0;
            border-bottom: 1px solid var(--orange);
            padding-bottom: 30px;

                h2{
                    padding-top: 30px;
                }

                p{
                    padding-left: 10px;
                }
        }

        #article3{
            /* border-top: 1px solid var(--orange); */
            border-bottom: 1px solid var(--orange);
            border-radius: 0;
            padding-bottom: 40px;

            h2{
                padding-top: 15px; 
                padding-bottom: 20px;
            }

            iframe{
                width: 100%;
                object-fit: cover;
            }
        }

        #article4{

            ul{
                text-decoration: none;
                list-style: none;
                display: flex;
                gap: 10px;
                flex-direction: column;
                text-align: start;
                padding-left: 20px;
                padding-bottom: 15px;

                i{
                    color: var(--orange);
                }
            }

            h3{
                padding-bottom: 15px;
                padding-left: 10px;
            }

            nav{
                display: flex;
                justify-content: space-between;
                margin: auto;
                gap: 80px;
                padding-bottom: 20px;

                i{
                    color: #000099;
                }
            }

            form{
                display: flex;
                flex-direction: column;
                gap: 10px;

                input{
                    border: 1px solid var(--orange);
                    padding: 5px;
                    outline: none;
                }

                input[type="submit"]{
                    height: 35px;
                    background: linear-gradient(to top, #FFAE00, #FF7800);
                    border: 2px solid orange;
                    border-radius: 30px;
                    width: 126px;
                    margin: auto;
                }

                textarea{
                    border: 1px solid var(--orange);
                    /* padding: 5px; */
                    outline: none;
                }
            }
        }
    }
} 

/* Pouce en l'air*/

.recommandation{
    cursor: pointer;
    caret-color: blueviolet;
    /* display: block; */
}

.recommandation input{
    display: none;
}

.checked{
    display: none;
    width: 16px !important;
}

.unchecked{
    width: 16px !important;
}

.recommandation input:checked ~ .checked{
    display: inline;
}

.recommandation input:checked ~ .unchecked{
    display: none;
}

/* Loader */

.loader{
    border: 16px solid grey;
    border-radius: 50%;
    border-top: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}