/* Google Font*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

/*Générale */

:root{
    --shadow:#252525;
    --orange: #ff7800;
    --orangejaune: #ffae00;
    --black: #000;
    --white: #fff;
}

*{
    margin: 0;
    
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    i{
        display: block;
    }
}

header h1{
    font-family: "Shrikhand";
    padding-left: 60px;
    width: 100%;
}


/* Footer */

footer{
    background-color: #252525;
}

footer h2{
    font-family: "Shrikhand";
    color: white;
    padding: 15px;
}

footer ul{
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer ul > li > a{
    text-decoration: none;
    color: white;
    
    &:hover{
    transition: all 0.2s ease in ease-in-out;
    color: var(--orange);
    }
}


/* Main */

#section1{
    background-color: #FFAE00;
}

#section1 div{
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

#section1 div > h2{
    height: 29px;
    width: 100%;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 10px;
}

#section1 div > p{
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
}

#section1 div > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: auto;
}

#section1 div > form > input{
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid orange;
    box-shadow: 1px 1px 1px 1px orange;
    height: 34px;
}

#section1 div > form > button{
    height: 35px;
    background: linear-gradient(to top, #FFAE00, #FF7800);
    border: 2px solid orange;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px orange;
    width: 126px;
    margin: auto;
}

#section2{
    /* width: 320px; */
    height: 271px;
}

#section2 h2{
    padding-top: 20px;
    padding-left: 15px;
    height: 29px;
}

#section2 div > ul{
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 0;
    margin-left: 20px;
    /* padding-left: 20px; */
    /* padding-top: 20px; */
    /* max-width: 100%; */
}

.fonctionning li:nth-child(1)::before{
    content: '1';
}

li::before{
    position: absolute;
    left: -12px;
    background-color:var(--orange) ;
    border-radius: 50%;
    padding: 3px 7px;
    top: 28%;
    color: var(--white);
}

.fonctionning li:nth-child(2)::before{
    content: '2';
}

.fonctionning li:nth-child(3)::before{
    content: '3';
}


#section2 div > ul > li{
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    text-align: left;
    position: relative;
    padding: 20px;
    /* width: 250px; */
    /* margin: auto; */
}

/* Section3 */

.recommandation{
    cursor: pointer;
    caret-color: blueviolet;
    display: block;
}

.recommandation input{
    display: none;
}

.checked{
    display: none;
    width: 16px;
}

.unchecked{
    width: 16px;
}

.recommandation input:checked ~ .checked{
    display: inline;
}

.recommandation input:checked ~ .unchecked{
    display: none;
}

#section3{
    font-family: "Roboto";
    background-color: var(--orangejaune);
}

#section3 h2{
    padding: 10px;
}

#section3 div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 15px;
}

#section3 div > article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    /* padding-bottom: 10px; */
    position: relative;
}

#section3 div > article > img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}

#section3 > div > article > a{
    text-decoration: none;
    color: black;
    padding-bottom: 20px;
}

#section3 h3{
    padding-left: 5px;
}

#section3 > div > article > a > p{
    padding-left: 5px;
}

#section3 div > article > div{
    border-top: 1px solid var(--orange);
}

#section3 div > article > div > label{
    display: flex;
    gap: 50px;
    /* padding-top: 10px;
    padding-left: 7px; */
}
/* #section3 div > article > div > label > img{
    width: 16px;
} */

#section3 div > a{
    text-decoration: none;
    margin-bottom: 30px;
}

#section3 div > a {
    /* height: 35px; */
    background: linear-gradient(to top, #FFAE00, #FF7800);
    border: 2px solid orange;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px orange;
    width: fit-content;
    margin: auto;
    border: 0;
    padding: 8px 20px;
    display: block;
}

.new::after{
    content: 'New !';
    font-family: shrikhand;
    color: var(--white);
    position: absolute;
    top: 10px;
    left: 7px;
    background-color: var(--orange);
    padding: 5px;
    transform: rotate(-43deg);
}